In [1]:
class User():
    def __init__(self,fname,lname,age,gender):
        self.fname=fname
        self.lname=lname
        self.age =age
        self.gender=gender
        self.login_attempt = 0
    def describe_user(self):
        print(f'''
             User Name : {self.fname} {self.lname}
             User_age  : {self.age}
             User_gender: {self.gender}   
        
        ''')
    def greet_user(self):
        print(f"""
                 This is students portal
                 
                 Welcome to portal {self.fname} {self.lname}
        """)
    def increment_login_attempt(self):
        self.login_attempt +=1
    
    def reset_login_attempt(self):
        self.login_attempt = 0

In [5]:
user1.login_attempt

0

In [6]:
user1.increment_login_attempt()

In [7]:
user1.login_attempt

1

In [8]:
user1.reset_login_attempt()

In [9]:
user1.login_attempt

0

In [11]:
class Bank_Account():
    def __init__(self,account_title,cnic,initial_deposit, contact):
        self.account_title =account_title
        self.cnic =cnic
        self.balance=initial_deposit
        self.contact = contact
    def balance_inquiry(self):
        return f'Your account balance is {self.balance}'
    def deposit(self, amt):
        self.balance+=amt
        print(f"Your account has been credited with amt {amt}")
    def withdrawl(self,amt):
        if amt > self.balance:
            print("Insufficient Balance")
        else:
            self.balance -=amt
            print("Your amount.")

In [13]:
acc1 = Bank_Account('ahmed',123345678, 10000, '54322')

In [14]:
acc1.account_title

'ahmed'

In [15]:
acc1.balance_inquiry()

'Your account balance is 10000'

In [16]:
acc1.deposit(45000)

Your account has been credited with amt 45000

In [17]:
acc1.balance_inquiry()

'Your account balance is 55000'

In [18]:
acc1.withdrawl(1)

Your amount.

In [19]:
acc1.balance_inquiry()

'Your account balance is 54999'

In [20]:
acc1.withdrawl(100000)

Insufficient Balance

In [22]:
class Bank_Account():
    # class variables
    accounts = []
    def __init__(self,account_title,cnic,initial_deposit, contact):
        # instance variables
        self.account_title =account_title
        self.cnic =cnic
        self.balance=initial_deposit
        self.contact = contact
    def balance_inquiry(self):
        return f'Your account balance is {self.balance}'
    def deposit(self, amt):
        self.balance+=amt
        print(f"Your account has been credited with amt {amt}")
    def withdrawl(self,amt):
        if amt > self.balance:
            print("Insufficient Balance")
        else:
            self.balance -=amt
            print("Chal pakr bhai apne paise")

In [24]:
acc1 = Bank_Account('ahmed',56123345678, 10000, '154322')
acc2 = Bank_Account('mustafa',4623345678, 5000, '254322')
acc3 = Bank_Account('dawood',6123345678, 50000, '754322')
acc4 = Bank_Account('bilal',7123345678, 1000, '854322')
acc5 = Bank_Account('yaseen',8123345678, 6000, '954322')
acc6 = Bank_Account('shayan',9123345678, 10000, '654322')

Bank_Account.accounts.append(acc1)
Bank_Account.accounts.append(acc2)
Bank_Account.accounts.append(acc3)
Bank_Account.accounts.append(acc4)
Bank_Account.accounts.append(acc5)
Bank_Account.accounts.append(acc6)

In [25]:
acc2.deposit(6000)

Your account has been credited with amt 6000

In [26]:
Bank_Account.accounts[0].account_title

'ahmed'

In [27]:
print("Welcome To MyBank")

print("What do you want to do?")

acc_title  = input("Tell me your account title please")

for account in Bank_Account.accounts:
    print(account)
    if account.account_title!=acc_title:
        continue
    else:
        query = input( """
                Enter 1 for balance inquiry
                 Enter 2 for deposit
                 Enter 3 for withdrawl
                 Enter q for quit"""
                )
        if query=="q":
            break
        elif query=="1":
            account.balance_inquiry()
        elif query=="2":
            amt = float(input("Enter amt"))
            account.deposit(amt)
        elif query=="3":
            amt = float(input("Enter amt to draw"))
            account.withdrawl(amt)

Welcome To MyBank
What do you want to do?

Tell me your account title please 1

<__main__.Bank_Account object at 0x000002D48CDBE510>
<__main__.Bank_Account object at 0x000002D48CCC0610>
<__main__.Bank_Account object at 0x000002D48CDBE610>
<__main__.Bank_Account object at 0x000002D48CDBE8D0>
<__main__.Bank_Account object at 0x000002D48CDBE690>
<__main__.Bank_Account object at 0x000002D48CDBE910>
<__main__.Bank_Account object at 0x000002D48CDBEC50>
<__main__.Bank_Account object at 0x000002D48CDBED90>
<__main__.Bank_Account object at 0x000002D48CDBEBD0>
<__main__.Bank_Account object at 0x000002D48CDBEE50>
<__main__.Bank_Account object at 0x000002D48CDBEED0>
<__main__.Bank_Account object at 0x000002D48CDBEE90>